DATABASE_URL: http://test
DATABASE_PORT: 1234
DATABASE_USERNAME: test_name
DATABASE_PASSWORD: test_pwd
DATABASE_NAME: neurocyte
SECRET_KEY: test_key
MAIL_HOST: smtp.example.com
MAIL_PORT: 587
MAIL_USER: your_email@example.com
MAIL_PASS: your_email_password
MAIL_FROM: noreply@example.com
APP_URL: http://localhost:3000